{% extends 'base.html.twig' %}

{% block title %}Login Taxo Park{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="form-wrapper text-center">
        {{ form_start(form) }}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
        &nbsp;
        <a href="{{ path('user_register') }}">Register</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
