{% extends 'base.html.twig' %}

{% block title %} Cars List {% endblock %}

{% block body %}
    <h2 class="genus-name">Cars List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Car</th>
            <th>Car type</th>
            <th>Work in system</th>
            <th>Change</th>
        </tr>
        </thead>

        <tbody>
        {% for car in cars %}

            <tr>
                <td>
                    <a href="{{ path('car_show',{'carName': car.carName}) }}">{{ car.carname }}</a>
                </td>
                <td>{{ car.CarType }}</td>
                <td>{{ car.updatedAt|date('Y-m-d') }}</td>
                <td><a title="Update CAR info" href="{{ path('car_edit', {'id': car.id}) }}"
                       class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                    <a title="Delete CAR" href="{{ path('delete_car', {'id': car.id }) }}"
                       class="btn btn-xs btn-danger"><span class="fa fa-trash"></span></a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(cars) }}
    </div>


{% endblock %}
