{% extends 'base.html.twig' %}

{% block title %} Get free car in Taxi park{% endblock %}

{% block body %}

<h2>Make Order</h2>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Car</th>
            <th>Driver</th>
            <th>Status</th>


        </tr>
        </thead>

        <tbody>

        {% for car in cars %}

            <tr>
                {#<td>#}
                    {#<a href="{{ path('car_show',{'carName': car.name}) }}">{{ car.name }}</a>#}
                {#</td>#}


                {#<td>{{ car.car_id }}</td>#}
                {#<td>{{ car.user_id }}</td>#}
                <td>{{ car.status }}</td>
                {#<td>{{ car.updatedAt|date('Y-m-d') }}</td>#}
                {#<td>#}
                    {#{% if car.status == 'free' %}#}
                        {#<b class="status_color_green">{{ car.status }}</b>#}
                        {#<a href="" class="btn btn-primary pull-right"> Get Taxi <span#}
                                    {#class="fa fa-plus-square"></span></a>#}
                    {#{% else %}#}
                        {#<b class="status_color_red">{{ car.status }}</b>#}
                    {#{% endif %}#}
                {#</td>#}
            </tr>

        {% endfor %}

        </tbody>

    </table>



{% endblock %}
