{% extends 'base.html.twig' %}

{% block title %} Orders List {% endblock %}

{% block body %}

    <h2 class="genus-name">Orders List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>From Address</th>
            <th>To Address</th>
            <th>Car</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        {% for order in orders %}

            <tr>
                <td>
                    <a href="{{ path('order_show',{'orderId': order.id}) }}">{{ order.id }}</a>
                </td>
                <td>{{ order.FromAddress }}</td>
                <td>{{ order.ToAddress }}</td>
                <td>{{ order.Car }}</td>
                <td>{{ order.Date|date('Y-m-d') }}</td>
                <td>{{ order.status }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(orders) }}
    </div>


{% endblock %}
