{% extends 'base.html.twig' %}

{% block title %} Taxo Park Show {{ user.name }}{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            {#<th>Role</th>#}
            <th>Change</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.email }}</td>
            {#<td>{{ user.roles }}</td>#}
            <td>
                <a title="Update user info" href="{{ path('user_edit', {'id': user.id}) }}"
                   class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                <a title="Delete USER" href="{{ path('delete', {'id': user.id}) }}" class="btn btn-xs btn-danger"><span
                            class="fa fa-trash"></span></a>
            </td>
        </tr>
        </tbody>

    </table>

{% endblock %}
