{{ form_start(carForm) }}


                {{ form_row(carForm.carName) }}
                {{ form_row(carForm.carType) }}
                {#{{ form_row(carForm.driverId) }}#}
                {{ form_row(carForm.carDiscript) }}
                {{ form_row(carForm.carImg) }}


<button type="submit" class="btn btn-primary" formnovalidate>Save</button>

{{ form_end(carForm) }}